/* main */
body {
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.block {
	padding: 10%;
}
.bottom {
	position: absolute;
	bottom: 30px;
	right: 30px;
	color: white;
}

 /* search */
#search-logo {
	float:left;
	height: 50px;
}
#search-input {
	background-color: rgba(255,255,255,0.7);
	float:left;
	margin: 10px;
	height: 50px;
	width: 360px;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	padding: 10px;
	outline: none;
}
#search-input:focus {
	background-color: rgba(255,255,255,0.9);
}

/*  top right function zone */
#functions-div {
	position: absolute;
	top: 30px;
	right: 30px;
	color: white;
	text-align: right;
}

#functions-nav {
	float: right;
}

#functions-child {
	margin-top: 25px;
	display: none;
}

#functions-child a{
	color: white;
	text-decoration: none;
	padding: 0 5px;
	border-radius: 5px;
	display: inline-block;
}

#functions-child a:hover{
	background-color: rgba(0, 0, 0, 0.8);
}

#functions-div:hover #functions-child {
	display: block;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	padding: 5px 10px;
}

#functions-child li{
	list-style: none;
	margin: 5px 0;
}

#functions-child .bottom-links {
	cursor: pointer;
}

#functions-child .bottom-links svg, #functions-child .bottom-links span{
	display: inline-block;
	vertical-align: middle;
}

/* loading anim */
.loading-circle {
	border: 2px solid #f3f3f3;
	border-radius: 50%;
	border-top: 2px solid #3498db;
	width: 20px;
	height: 20px;
	margin: 0 10px 10px 0;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	display: none;
	float: right;
}   
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}   
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
} 

/* footer operation */
#footer-op {
	padding: 5px 10px;
	border-radius: 5px;
}

#change-wallpaper {
	padding-right: 5px;
	display: none;
}

#wallpaper-download-link {
	padding-right: 5px;
	display: none;
}

#footer-op svg, #footer-op span {
	display: inline-block;
	vertical-align: middle;
}

#footer-op:hover {
	background: rgba(0, 0, 0, 0.5);
}

#footer-op:hover #change-wallpaper{
	display: inline-block;
}

#footer-op:hover #wallpaper-download-link{
	display: inline-block;
}




