/* main */
body {
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.block {
	padding: 10%;
}
.bottom {
	position: absolute;
	bottom: 30px;
	right: 30px;
	color: white;
}

 /* search */
.search-logo {
	float:left;
	height: 50px;
}
.search-logo-google {
	height: 40px;
	margin: 15px 10px;
}
.search-logo-bing {
	height: 50px;
	margin: 10px;
}
.search-logo-baidu {
	height: 70px;
	margin-top: -10px;
}
.search-logo-sogou {
	height: 50px;
	margin: 10px;
}
.search-logo-360 {
	height: 40px;
	padding: 15px 10px;
}
.search-logo-yahoo {
	height: 35px;
	padding: 18px 10px;
}
.search-logo-yandex {
	height: 40px;
	padding: 15px 10px;
}
.search-logo-duckduckgo {
	height: 45px;
	padding: 10px;
}
.search-input {
	background-color: rgba(255,255,255,0.7);
	float:left;
	margin: 10px;
	height: 50px;
	width: 360px;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	padding: 10px;
	outline: none;
}
.search-input:focus {
	background-color: rgba(255,255,255,0.9);
}

/* most visited sites */
#most-visited-div {
	position: absolute;
	top: 30px;
	right: 30px;
	color: white;
	text-align: right;
}

#most-visited-nav {
	float: right;
}

#most-visited-child {
	margin-top: 25px;
	display: none;
}

#most-visited-child a{
	color: white;
	text-decoration: none;
}

#most-visited-child a:hover{
	color: white;
	text-decoration: none;
}

#most-visited-div:hover #most-visited-child {
	display: block;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	padding: 5px 10px;
}

#most-visited-child li{
	list-style: none;
	margin: 5px 0;
}

/* loading anim */
.loading-circle {
	border: 2px solid #f3f3f3;
	border-radius: 50%;
	border-top: 2px solid #3498db;
	width: 20px;
	height: 20px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	display: none;
}   
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}   
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
} 